## Ignore all files
/*

## Include project files
!/src/
!/podman-api/
!swagger-latest.yaml

## Infrastructure
!system.properties
!.editorconfig
!.gitignore

## Documentation
!README.md
!CONTRIBUTING.md
!LICENSE

## Gradle wrapper
!gradle/
!gradlew
!gradlew.bat
!build.gradle.kts
!settings.gradle.kts
!gradle.properties

## Exclude IDE files
# JetBrains
*.iml