## Ignore all files
/*

## Include project files
!/src/
!/openapi/src/
!/openapi/docs/
!/openapi/swagger-latest.yaml

## Infrastructure
!system.properties
!.editorconfig
!.gitignore

## Documentation
!README.md
!CONTRIBUTING.md
!LICENSE

## Gradle wrapper
!gradle/
!gradlew
!gradlew.bat
!build.gradle.kts
!settings.gradle.kts
!gradle.properties
!openapi/build.gradle

## Exclude IDE files
# JetBrains
*.iml