## Ignore all files
/*

## Include project files
!/src/
!/docs/
!/swagger-latest.yaml

## Infrastructure
!.gitignore

## Documentation
!README.md

## Gradle wrapper
!build.gradle.kts
!settings.gradle.kts

## Exclude IDE files
# JetBrains
*.iml