openapi: 3.0.1
info:
  contact:
    email: podman@lists.podman.io
    name: Podman
    url: https://podman.io/community/
  description: |-
    This documentation describes the Podman v2.x+ RESTful API. It consists of a Docker-compatible
    API and a Libpod API providing support for Podman’s unique features such as pods.

    To start the service and keep it running for 5,000 seconds (-t 0 runs forever):

    podman system service -t 5000 &

    You can then use cURL on the socket using requests documented below.

    NOTE: if you install the package podman-docker, it will create a symbolic
    link for /run/docker.sock to /run/podman/podman.sock

    NOTE: Some fields in the API response JSON are encoded as omitempty, which means that
    if said field has a zero value, they will not be encoded in the API response. This
    is a feature to help reduce the size of the JSON responses returned via the API.

    NOTE: Due to the limitations of [go-swagger](https://github.com/go-swagger/go-swagger),
    some field values that have a complex type show up as null in the docs as well as in the
    API responses. This is because the zero value for the field type is null. The field
    description in the docs will state what type the field is expected to be for such cases.

    See podman-system-service(1) for more information.

    Quick Examples:

    'podman info'

    curl --unix-socket /run/podman/podman.sock http://d/v5.0.0/libpod/info

    'podman pull quay.io/containers/podman'

    curl -XPOST --unix-socket /run/podman/podman.sock -v 'http://d/v5.0.0/images/create?fromImage=quay.io%2Fcontainers%2Fpodman'

    'podman list images'

    curl --unix-socket /run/podman/podman.sock -v 'http://d/v5.0.0/libpod/images/json' | jq
  license:
    name: Apache-2.0
    url: https://opensource.org/licenses/Apache-2.0
  termsOfService: https://github.com/containers/podman/blob/913caaa9b1de2b63692c9bae15120208194c9eb3/LICENSE
  title: supports a RESTful API for the Libpod library
  version: 5.0.0
  x-logo:
  - url: https://raw.githubusercontent.com/containers/libpod/main/logo/podman-logo.png
  - altText: Podman logo
servers:
- url: http://podman.io/
- url: https://podman.io/
tags:
- description: Actions related to containers
  name: containers
- description: Actions related to exec
  name: exec
- description: Actions related to images
  name: images
- description: Actions related to manifests
  name: manifests
- description: Actions related to networks
  name: networks
- description: Actions related to pods
  name: pods
- description: Actions related to volumes
  name: volumes
- description: Actions related to secrets
  name: secrets
- description: Actions related to Podman engine
  name: system
- description: Actions related to containers for the compatibility endpoints
  name: containers (compat)
- description: Actions related to exec for the compatibility endpoints
  name: exec (compat)
- description: Actions related to images for the compatibility endpoints
  name: images (compat)
- description: Actions related to networks for the compatibility endpoints
  name: networks (compat)
- description: Actions related to volumes for the compatibility endpoints
  name: volumes (compat)
- description: Actions related to secrets for the compatibility endpoints
  name: secrets (compat)
- description: Actions related to Podman and compatibility engines
  name: system (compat)
paths:
  /auth:
    post:
      operationId: SystemAuth
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthConfig"
          application/x-tar:
            schema:
              $ref: "#/components/schemas/AuthConfig"
        description: Authentication to check
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthReport"
          description: Auth response
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Check auth configuration
      tags:
      - system (compat)
      x-codegen-request-body-name: authConfig
      x-content-type: application/json
      x-accepts:
      - application/json
  /build:
    post:
      description: Build an image from the given Dockerfile(s)
      operationId: ImageBuild
      parameters:
      - in: header
        name: Content-Type
        schema:
          default: application/x-tar
          enum:
          - application/x-tar
          type: string
      - in: header
        name: X-Registry-Config
        schema:
          type: string
      - description: |
          Path within the build context to the `Dockerfile`.
          This is ignored if remote is specified and points to an external `Dockerfile`.
        in: query
        name: dockerfile
        schema:
          default: Dockerfile
          type: string
      - description: "A name and optional tag to apply to the image in the `name:tag`\
          \ format. If you omit the tag, the default latest value is assumed. You\
          \ can provide several t parameters."
        in: query
        name: t
        schema:
          default: latest
          type: string
      - description: |
          TBD Extra hosts to add to /etc/hosts
          (As of version 1.xx)
        in: query
        name: extrahosts
        schema:
          type: string
      - description: |
          A Git repository URI or HTTP/HTTPS context URI.
          If the URI points to a single text file, the file’s contents are placed
          into a file called Dockerfile and the image is built from that file. If
          the URI points to a tarball, the file is downloaded by the daemon and the
          contents therein used as the context for the build. If the URI points to a
          tarball and the dockerfile parameter is also specified, there must be a file
          with the corresponding path inside the tarball.
          (As of version 1.xx)
        in: query
        name: remote
        schema:
          type: string
      - description: |
          Number of times to retry in case of failure when performing push/pull.
        in: query
        name: retry
        schema:
          default: 3
          type: integer
      - description: |
          Delay between retries in case of push/pull failures.
        in: query
        name: retry-delay
        schema:
          default: 2s
          type: string
      - description: |
          Suppress verbose build output
        in: query
        name: q
        schema:
          default: false
          type: boolean
      - description: |
          Contents of base images to be modified on ADD or COPY only
          (As of Podman version v5.2)
        in: query
        name: compatvolumes
        schema:
          default: false
          type: boolean
      - description: |
          Do not use the cache when building the image
          (As of version 1.xx)
        in: query
        name: nocache
        schema:
          default: false
          type: boolean
      - description: |
          JSON array of images used to build cache resolution
          (As of version 1.xx)
        in: query
        name: cachefrom
        schema:
          type: string
      - description: |
          Attempt to pull the image even if an older image exists locally
          (As of version 1.xx)
        in: query
        name: pull
        schema:
          default: false
          type: boolean
      - description: |
          Remove intermediate containers after a successful build
          (As of version 1.xx)
        in: query
        name: rm
        schema:
          default: true
          type: boolean
      - description: |
          Always remove intermediate containers, even upon failure
          (As of version 1.xx)
        in: query
        name: forcerm
        schema:
          default: false
          type: boolean
      - description: |
          Memory is the upper limit (in bytes) on how much memory running containers can use
          (As of version 1.xx)
        in: query
        name: memory
        schema:
          type: integer
      - description: |
          MemorySwap limits the amount of memory and swap together
          (As of version 1.xx)
        in: query
        name: memswap
        schema:
          type: integer
      - description: |
          CPUShares (relative weight
          (As of version 1.xx)
        in: query
        name: cpushares
        schema:
          type: integer
      - description: |
          CPUSetCPUs in which to allow execution (0-3, 0,1)
          (As of version 1.xx)
        in: query
        name: cpusetcpus
        schema:
          type: string
      - description: |
          CPUPeriod limits the CPU CFS (Completely Fair Scheduler) period
          (As of version 1.xx)
        in: query
        name: cpuperiod
        schema:
          type: integer
      - description: |
          CPUQuota limits the CPU CFS (Completely Fair Scheduler) quota
          (As of version 1.xx)
        in: query
        name: cpuquota
        schema:
          type: integer
      - description: |
          JSON map of string pairs denoting build-time variables.
          For example, the build argument `Foo` with the value of `bar` would be encoded in JSON as `["Foo":"bar"]`.

          For example, buildargs={"Foo":"bar"}.

          Note(s):
          * This should not be used to pass secrets.
          * The value of buildargs should be URI component encoded before being passed to the API.

          (As of version 1.xx)
        in: query
        name: buildargs
        schema:
          type: string
      - description: |
          ShmSize is the "size" value to use when mounting an shmfs on the container's /dev/shm directory.
          Default is 64MB
          (As of version 1.xx)
        in: query
        name: shmsize
        schema:
          default: 67108864
          type: integer
      - description: |
          Silently ignored.
          Squash the resulting images layers into a single layer
          (As of version 1.xx)
        in: query
        name: squash
        schema:
          default: false
          type: boolean
      - description: |
          JSON map of key, value pairs to set as labels on the new image
          (As of version 1.xx)
        in: query
        name: labels
        schema:
          type: string
      - description: |
          Sets the networking mode for the run commands during build.
          Supported standard values are:
            * `bridge` limited to containers within a single host, port mapping required for external access
            * `host` no isolation between host and containers on this network
            * `none` disable all networking for this container
            * container:<nameOrID> share networking with given container
            ---All other values are assumed to be a custom network's name
          (As of version 1.xx)
        in: query
        name: networkmode
        schema:
          default: bridge
          type: string
      - description: |
          Platform format os[/arch[/variant]]
          Can be comma separated list for multi arch builds.
          (As of version 1.xx)
        in: query
        name: platform
        schema:
          type: string
      - description: |
          Target build stage
          (As of version 1.xx)
        in: query
        name: target
        schema:
          type: string
      - description: |
          output configuration TBD
          (As of version 1.xx)
        in: query
        name: outputs
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              format: binary
              type: string
          application/x-tar:
            schema:
              format: binary
              type: string
        description: |
          A tar archive compressed with one of the following algorithms:
          identity (no compression), gzip, bzip2, xz.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageBuild_200_response"
          description: OK (As of version 1.xx)
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Bad parameter in request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Create image
      tags:
      - images (compat)
      x-codegen-request-body-name: inputStream
      x-content-type: application/json
      x-accepts:
      - application/json
  /commit:
    post:
      description: Create a new image from a container
      operationId: ImageCommit
      parameters:
      - description: the name or ID of a container
        in: query
        name: container
        schema:
          type: string
      - description: the repository name for the created image
        in: query
        name: repo
        schema:
          type: string
      - description: tag name for the created image
        in: query
        name: tag
        schema:
          type: string
      - description: commit message
        in: query
        name: comment
        schema:
          type: string
      - description: author of the image
        in: query
        name: author
        schema:
          type: string
      - description: pause the container before committing it
        in: query
        name: pause
        schema:
          type: boolean
      - description: instructions to apply while committing in Dockerfile format
        in: query
        name: changes
        schema:
          type: string
      - description: squash newly built layers into a single new layer
        in: query
        name: squash
        schema:
          type: boolean
      responses:
        "201":
          content: {}
          description: no error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such image
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: New Image
      tags:
      - containers (compat)
      x-accepts:
      - application/json
  /containers/{name}:
    delete:
      operationId: ContainerDelete
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "If the container is running, kill it before removing it."
        in: query
        name: force
        schema:
          default: false
          type: boolean
      - description: Remove the volumes associated with the container.
        in: query
        name: v
        schema:
          default: false
          type: boolean
      - description: not supported
        in: query
        name: link
        schema:
          type: boolean
      responses:
        "204":
          content: {}
          description: no error
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Bad parameter in request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Conflict error in operation
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Remove a container
      tags:
      - containers (compat)
      x-accepts:
      - application/json
  /containers/{name}/archive:
    get:
      description: Get a tar archive of files from a container
      operationId: ContainerArchive
      parameters:
      - description: container name or id
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Path to a directory in the container to extract
        in: query
        name: path
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: no error
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Bad parameter in request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Get files from a container
      tags:
      - containers (compat)
      x-accepts:
      - application/json
    put:
      description: Put a tar archive of files into a container
      operationId: PutContainerArchive
      parameters:
      - description: container name or id
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Path to a directory in the container to extract
        in: query
        name: path
        required: true
        schema:
          type: string
      - description: if unpacking the given content would cause an existing directory
          to be replaced with a non-directory and vice versa (1 or true)
        in: query
        name: noOverwriteDirNonDir
        schema:
          type: string
      - description: copy UID/GID maps to the dest file or di (1 or true)
        in: query
        name: copyUIDGID
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
          application/x-tar:
            schema:
              type: string
        description: tarfile of files to copy into the container
        required: false
      responses:
        "200":
          content: {}
          description: no error
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Bad parameter in request
        "403":
          content: {}
          description: the container rootfs is read-only
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Put files into a container
      tags:
      - containers (compat)
      x-codegen-request-body-name: request
      x-content-type: application/json
      x-accepts:
      - application/json
  /containers/{name}/attach:
    post:
      description: |
        Attach to a container to read its output or send it input. You can attach
        to the same container multiple times and you can reattach to containers
        that have been detached.

        It uses the same stream format as docker, see the libpod attach endpoint for a description of the format.
      operationId: ContainerAttach
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: keys to use for detaching from the container
        in: query
        name: detachKeys
        schema:
          type: string
      - description: Stream all logs from the container across the connection. Happens
          before streaming attach (if requested). At least one of logs or stream must
          be set
        in: query
        name: logs
        schema:
          type: boolean
      - description: "Attach to the container. If unset, and logs is set, only the\
          \ container's logs will be sent. At least one of stream or logs must be\
          \ set"
        in: query
        name: stream
        schema:
          default: true
          type: boolean
      - description: Attach to container STDOUT
        in: query
        name: stdout
        schema:
          type: boolean
      - description: Attach to container STDERR
        in: query
        name: stderr
        schema:
          type: boolean
      - description: Attach to container STDIN
        in: query
        name: stdin
        schema:
          type: boolean
      responses:
        "101":
          content: {}
          description: "No error, connection has been hijacked for transporting streams."
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Bad parameter in request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Attach to a container
      tags:
      - containers (compat)
      x-accepts:
      - application/json
  /containers/{name}/exec:
    post:
      description: Create an exec session to run a command inside a running container.
        Exec sessions will be automatically removed 5 minutes after they exit.
      operationId: ContainerExec
      parameters:
      - description: name of container
        in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContainerExec_request"
          application/x-tar:
            schema:
              $ref: "#/components/schemas/ContainerExec_request"
        description: Attributes for create
        required: false
      responses:
        "201":
          content: {}
          description: no error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "409":
          content: {}
          description: container is paused
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Create an exec instance
      tags:
      - exec (compat)
      x-codegen-request-body-name: control
      x-content-type: application/json
      x-accepts:
      - application/json
  /containers/{name}/export:
    get:
      description: Export the contents of a container as a tarball.
      operationId: ContainerExport
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: tarball is returned in body
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Export a container
      tags:
      - containers (compat)
      x-accepts:
      - application/json
  /containers/{name}/json:
    get:
      description: Return low-level information about a container.
      operationId: ContainerInspect
      parameters:
      - description: the name or id of the container
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: include the size of the container
        in: query
        name: size
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainerJSON"
          description: Inspect container
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Inspect container
      tags:
      - containers (compat)
      x-accepts:
      - application/json
  /containers/{name}/kill:
    post:
      description: Signal to send to the container as an integer or string (e.g. SIGINT)
      operationId: ContainerKill
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Send kill signal to all containers
        in: query
        name: all
        schema:
          default: false
          type: boolean
      - description: signal to be sent to container
        in: query
        name: signal
        schema:
          default: SIGKILL
          type: string
      responses:
        "204":
          content: {}
          description: no error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Conflict error in operation
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Kill container
      tags:
      - containers (compat)
      x-accepts:
      - application/json
  /containers/{name}/logs:
    get:
      description: Get stdout and stderr logs from a container.
      operationId: ContainerLogs
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Keep connection after returning logs.
        in: query
        name: follow
        schema:
          type: boolean
      - description: Return logs from stdout
        in: query
        name: stdout
        schema:
          type: boolean
      - description: Return logs from stderr
        in: query
        name: stderr
        schema:
          type: boolean
      - description: "Only return logs since this time, as a UNIX timestamp"
        in: query
        name: since
        schema:
          type: string
      - description: "Only return logs before this time, as a UNIX timestamp"
        in: query
        name: until
        schema:
          type: string
      - description: Add timestamps to every log line
        in: query
        name: timestamps
        schema:
          default: false
          type: boolean
      - description: Only return this number of log lines from the end of the logs
        in: query
        name: tail
        schema:
          default: all
          type: string
      responses:
        "200":
          content: {}
          description: logs returned as a stream in response body.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Get container logs
      tags:
      - containers (compat)
      x-accepts:
      - application/json
  /containers/{name}/pause:
    post:
      description: Use the cgroups freezer to suspend all processes in a container.
      operationId: ContainerPause
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: no error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Pause container
      tags:
      - containers (compat)
      x-accepts:
      - application/json
  /containers/{name}/rename:
    post:
      description: Change the name of an existing container.
      operationId: ContainerRename
      parameters:
      - description: Full or partial ID or full name of the container to rename
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: New name for the container
        in: query
        name: name
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: no error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Conflict error in operation
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Rename an existing container
      tags:
      - containers (compat)
      x-accepts:
      - application/json
  /containers/{name}/resize:
    post:
      description: Resize the terminal attached to a container (for use with Attach).
      operationId: ContainerResize
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Height to set for the terminal, in characters"
        in: query
        name: h
        schema:
          type: integer
      - description: "Width to set for the terminal, in characters"
        in: query
        name: w
        schema:
          type: integer
      - description: Ignore containers not running errors
        in: query
        name: running
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Resize a container's TTY
      tags:
      - containers (compat)
      x-accepts:
      - application/json
  /containers/{name}/restart:
    post:
      operationId: ContainerRestart
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: timeout before sending kill signal to container
        in: query
        name: t
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: no error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Restart container
      tags:
      - containers (compat)
      x-accepts:
      - application/json
  /containers/{name}/start:
    post:
      operationId: ContainerStart
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: "Override the key sequence for detaching a container. Format\
          \ is a single character [a-Z] or ctrl-<value> where <value> is one of: a-z,\
          \ @, ^, [, , or _."
        in: query
        name: detachKeys
        schema:
          default: "ctrl-p,ctrl-q"
          type: string
      responses:
        "204":
          content: {}
          description: no error
        "304":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Container already started
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Start a container
      tags:
      - containers (compat)
      x-accepts:
      - application/json
  /containers/{name}/stats:
    get:
      description: This returns a live stream of a container’s resource usage statistics.
      operationId: ContainerStats
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Stream the output
        in: query
        name: stream
        schema:
          default: true
          type: boolean
      - description: "Provide a one-shot response in which preCPU stats are blank,\
          \ resulting in a single cycle return."
        in: query
        name: one-shot
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: no error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Get stats for a container
      tags:
      - containers (compat)
      x-accepts:
      - application/json
  /containers/{name}/stop:
    post:
      description: Stop a container
      operationId: ContainerStop
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: number of seconds to wait before killing container
        in: query
        name: t
        schema:
          type: integer
      responses:
        "204":
          content: {}
          description: no error
        "304":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Container already stopped
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Stop a container
      tags:
      - containers (compat)
      x-accepts:
      - application/json
  /containers/{name}/top:
    get:
      operationId: ContainerTop
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: arguments to pass to ps such as aux.
        in: query
        name: ps_args
        schema:
          default: -ef
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainerTopOKBody"
          description: List processes in container
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: List processes running inside a container
      tags:
      - containers (compat)
      x-accepts:
      - application/json
  /containers/{name}/unpause:
    post:
      description: Resume a paused container
      operationId: ContainerUnpause
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: no error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Unpause container
      tags:
      - containers (compat)
      x-accepts:
      - application/json
  /containers/{name}/update:
    post:
      description: Change configuration settings for an existing container without
        requiring recreation.
      operationId: ContainerUpdate
      parameters:
      - description: Full or partial ID or full name of the container to rename
        in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/containerUpdateRequest"
          application/x-tar:
            schema:
              $ref: "#/components/schemas/containerUpdateRequest"
        description: attributes for updating the container
        required: false
      responses:
        "200":
          content: {}
          description: no error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Update configuration of an existing container
      tags:
      - containers (compat)
      x-codegen-request-body-name: resources
      x-content-type: application/json
      x-accepts:
      - application/json
  /containers/{name}/wait:
    post:
      description: Block until a container stops or given condition is met.
      operationId: ContainerWait
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: |
          wait until container is to a given condition. default is stopped. valid conditions are:
            - configured
            - created
            - exited
            - paused
            - running
            - stopped
        in: query
        name: condition
        schema:
          type: string
      - description: Time Interval to wait before polling for completion.
        in: query
        name: interval
        schema:
          default: 250ms
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainerWait_200_response"
          description: Wait container
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Wait on a container
      tags:
      - containers (compat)
      x-accepts:
      - application/json
  /containers/create:
    post:
      operationId: ContainerCreate
      parameters:
      - description: container name
        in: query
        name: name
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateContainerConfig"
          application/x-tar:
            schema:
              $ref: "#/components/schemas/CreateContainerConfig"
        description: Container to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainerCreateResponse"
          description: Create container
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Bad parameter in request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Conflict error in operation
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Create a container
      tags:
      - containers (compat)
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /containers/json:
    get:
      description: Returns a list of containers
      operationId: ContainerList
      parameters:
      - description: "Return all containers. By default, only running containers are\
          \ shown"
        in: query
        name: all
        schema:
          default: false
          type: boolean
      - description: Return containers in storage not controlled by Podman
        in: query
        name: external
        schema:
          default: false
          type: boolean
      - description: "Return this number of most recently created containers, including\
          \ non-running ones."
        in: query
        name: limit
        schema:
          type: integer
      - description: Return the size of container as fields SizeRw and SizeRootFs.
        in: query
        name: size
        schema:
          default: false
          type: boolean
      - description: |
          A JSON encoded value of the filters (a `map[string][]string`) to process on the containers list. Available filters:
          - `ancestor`=(`<image-name>[:<tag>]`, `<image id>`, or `<image@digest>`)
          - `before`=(`<container id>` or `<container name>`)
          - `expose`=(`<port>[/<proto>]` or `<startport-endport>/[<proto>]`)
          - `exited=<int>` containers with exit code of `<int>`
          - `health`=(`starting`, `healthy`, `unhealthy` or `none`)
          - `id=<ID>` a container's ID
          - `is-task`=(`true` or `false`)
          - `label`=(`key` or `"key=value"`) of a container label
          - `name=<name>` a container's name
          - `network`=(`<network id>` or `<network name>`)
          - `publish`=(`<port>[/<proto>]` or `<startport-endport>/[<proto>]`)
          - `since`=(`<container id>` or `<container name>`)
          - `status`=(`created`, `restarting`, `running`, `removing`, `paused`, `exited` or `dead`)
          - `volume`=(`<volume name>` or `<mount point destination>`)
        in: query
        name: filters
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Container"
                type: array
          description: List Containers
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Bad parameter in request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: List containers
      tags:
      - containers (compat)
      x-accepts:
      - application/json
  /containers/prune:
    post:
      description: Remove containers not in use
      operationId: ContainerPrune
      parameters:
      - description: |
          Filters to process on the prune list, encoded as JSON (a `map[string][]string`).  Available filters:
           - `until=<timestamp>` Prune containers created before this timestamp. The `<timestamp>` can be Unix timestamps, date formatted timestamps, or Go duration strings (e.g. `10m`, `1h30m`) computed relative to the daemon machine’s time.
           - `label` (`label=<key>`, `label=<key>=<value>`, `label!=<key>`, or `label!=<key>=<value>`) Prune containers with (or without, in case `label!=...` is used) the specified labels.
        in: query
        name: filters
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ContainersPruneReport"
                type: array
          description: Prune Containers
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Delete stopped containers
      tags:
      - containers (compat)
      x-accepts:
      - application/json
  /events:
    get:
      description: Returns events filtered on query parameters
      operationId: SystemEvents
      parameters:
      - description: start streaming events from this time
        in: query
        name: since
        schema:
          type: string
      - description: stop streaming events later than this
        in: query
        name: until
        schema:
          type: string
      - description: "JSON encoded map[string][]string of constraints"
        in: query
        name: filters
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: returns a string of json data describing an event
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Get events
      tags:
      - system (compat)
      x-accepts:
      - application/json
  /exec/{id}/json:
    get:
      description: Return low-level information about an exec instance.
      operationId: ExecInspect
      parameters:
      - description: Exec instance ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InspectExecSession"
          description: Exec Session Inspect
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such exec instance
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Inspect an exec instance
      tags:
      - exec (compat)
      x-accepts:
      - application/json
  /exec/{id}/resize:
    post:
      description: |
        Resize the TTY session used by an exec instance. This endpoint only works if tty was specified as part of creating and starting the exec instance.
      operationId: ExecResize
      parameters:
      - description: Exec instance ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Height of the TTY session in characters
        in: query
        name: h
        schema:
          type: integer
      - description: Width of the TTY session in characters
        in: query
        name: w
        schema:
          type: integer
      - description: Ignore containers not running errors
        in: query
        name: running
        schema:
          type: boolean
      responses:
        "201":
          content: {}
          description: no error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such exec instance
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Resize an exec instance
      tags:
      - exec (compat)
      x-accepts:
      - application/json
  /exec/{id}/start:
    post:
      description: "Starts a previously set up exec instance. If detach is true, this\
        \ endpoint returns immediately after starting the command. Otherwise, it sets\
        \ up an interactive session with the command."
      operationId: ExecStart
      parameters:
      - description: Exec instance ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecStart_request"
          application/x-tar:
            schema:
              $ref: "#/components/schemas/ExecStart_request"
        description: Attributes for start
        required: false
      responses:
        "200":
          content: {}
          description: no error
        "404":
          content:
            application/octet-stream:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such exec instance
        "409":
          content: {}
          description: container is not running
        "500":
          content:
            application/octet-stream:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Start an exec instance
      tags:
      - exec (compat)
      x-codegen-request-body-name: control
      x-content-type: application/json
      x-accepts:
      - application/octet-stream
  /images/{name}:
    delete:
      description: Delete an image from local storage
      operationId: ImageDelete
      parameters:
      - description: name or ID of image to delete
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: remove the image even if used by containers or has other tags
        in: query
        name: force
        schema:
          type: boolean
      - description: do not remove dangling parent images
        in: query
        name: noprune
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ImageDelete_200_response_inner"
                type: array
          description: Image Delete
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such image
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Conflict error in operation
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Remove Image
      tags:
      - images (compat)
      x-accepts:
      - application/json
  /images/{name}/get:
    get:
      description: Export an image in tarball format
      operationId: ImageGet
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/x-tar:
              schema:
                format: binary
                type: string
          description: no error
        "500":
          content:
            application/x-tar:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Export an image
      tags:
      - images (compat)
      x-accepts:
      - application/x-tar
  /images/{name}/history:
    get:
      description: Return parent layers of an image.
      operationId: ImageHistory
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HistoryResponse"
          description: Image History
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such image
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: History of an image
      tags:
      - images (compat)
      x-accepts:
      - application/json
  /images/{name}/json:
    get:
      description: Return low-level information about an image.
      operationId: ImageInspect
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageInspect"
          description: Image Inspect
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such image
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Inspect an image
      tags:
      - images (compat)
      x-accepts:
      - application/json
  /images/{name}/push:
    post:
      description: Push an image to a container registry
      operationId: ImagePush
      parameters:
      - description: Name of image to push.
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: The tag to associate with the image on the registry.
        in: query
        name: tag
        schema:
          type: string
      - description: All indicates whether to push all images related to the image
          list
        in: query
        name: all
        schema:
          type: boolean
      - description: Use compression on image.
        in: query
        name: compress
        schema:
          type: boolean
      - description: Allows for pushing the image to a different destination than
          the image refers to.
        in: query
        name: destination
        schema:
          type: string
      - description: "Manifest type (oci, v2s1, or v2s2) to use when pushing an image.\
          \ Default is manifest type of source, with fallbacks."
        in: query
        name: format
        schema:
          type: string
      - description: Require TLS verification.
        in: query
        name: tlsVerify
        schema:
          default: true
          type: boolean
      - description: A base64-encoded auth configuration.
        in: header
        name: X-Registry-Auth
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: no error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such image
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Push Image
      tags:
      - images (compat)
      x-accepts:
      - application/json
  /images/{name}/tag:
    post:
      description: Tag an image so that it becomes part of a repository.
      operationId: ImageTag
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: the repository to tag in
        in: query
        name: repo
        schema:
          type: string
      - description: the name of the new tag
        in: query
        name: tag
        schema:
          type: string
      responses:
        "201":
          content: {}
          description: no error
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Bad parameter in request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such image
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Conflict error in operation
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Tag an image
      tags:
      - images (compat)
      x-accepts:
      - application/json
  /images/create:
    post:
      description: Create an image by either pulling it from a registry or importing
        it.
      operationId: ImageCreate
      parameters:
      - description: A base64-encoded auth configuration.
        in: header
        name: X-Registry-Auth
        schema:
          type: string
      - description: Name of the image to pull. The name may include a tag or digest.
          This parameter may only be used when pulling an image. The pull is cancelled
          if the HTTP connection is closed.
        in: query
        name: fromImage
        schema:
          type: string
      - description: Source to import. The value may be a URL from which the image
          can be retrieved or - to read the image from the request body. This parameter
          may only be used when importing an image
        in: query
        name: fromSrc
        schema:
          type: string
      - description: Repository name given to an image when it is imported. The repo
          may include a tag. This parameter may only be used when importing an image.
        in: query
        name: repo
        schema:
          type: string
      - description: "Tag or digest. If empty when pulling an image, this causes all\
          \ tags for the given image to be pulled."
        in: query
        name: tag
        schema:
          type: string
      - description: Set commit message for imported image.
        in: query
        name: message
        schema:
          type: string
      - description: "Platform in the format os[/arch[/variant]]"
        in: query
        name: platform
        schema:
          type: string
      requestBody:
        content:
          text/plain:
            schema:
              format: binary
              type: string
          application/octet-stream:
            schema:
              format: binary
              type: string
        description: Image content if fromSrc parameter was used
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: no error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such image
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Create an image
      tags:
      - images (compat)
      x-codegen-request-body-name: inputImage
      x-content-type: text/plain
      x-accepts:
      - application/json
  /images/get:
    get:
      description: Get a tarball containing all images and metadata for several image
        repositories
      operationId: ImageGetAll
      parameters:
      - description: one or more image names or IDs comma separated
        in: query
        name: names
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: no error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Export several images
      tags:
      - images (compat)
      x-accepts:
      - application/json
  /images/json:
    get:
      description: "Returns a list of images on the server. Note that it uses a different,\
        \ smaller representation of an image than inspecting a single image."
      operationId: ImageList
      parameters:
      - description: Show all images. Only images from a final layer (no children)
          are shown by default.
        in: query
        name: all
        schema:
          default: false
          type: boolean
      - description: |
          A JSON encoded value of the filters (a `map[string][]string`) to process on the images list. Available filters:
          - `before`=(`<image-name>[:<tag>]`,  `<image id>` or `<image@digest>`)
          - `dangling=true`
          - `label=key` or `label="key=value"` of an image label
          - `reference`=(`<image-name>[:<tag>]`)
          - `since`=(`<image-name>[:<tag>]`,  `<image id>` or `<image@digest>`)
        in: query
        name: filters
        schema:
          type: string
      - description: Not supported
        in: query
        name: digests
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Summary"
                type: array
          description: Image summary for compat API
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: List Images
      tags:
      - images (compat)
      x-accepts:
      - application/json
  /images/load:
    post:
      description: Load a set of images and tags into a repository.
      operationId: ImageLoad
      parameters:
      - description: not supported
        in: query
        name: quiet
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              type: string
          application/x-tar:
            schema:
              type: string
        description: tarball of container image
        required: false
      responses:
        "200":
          content: {}
          description: no error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Import image
      tags:
      - images (compat)
      x-codegen-request-body-name: request
      x-content-type: application/json
      x-accepts:
      - application/json
  /images/prune:
    post:
      description: Remove images from local storage that are not being used by a container
      operationId: ImagePrune
      parameters:
      - description: |
          filters to apply to image pruning, encoded as JSON (map[string][]string). Available filters:
            - `dangling=<boolean>` When set to `true` (or `1`), prune only
               unused *and* untagged images. When set to `false`
               (or `0`), all unused images are pruned.
            - `until=<string>` Prune images created before this timestamp. The `<timestamp>` can be Unix timestamps, date formatted timestamps, or Go duration strings (e.g. `10m`, `1h30m`) computed relative to the daemon machine’s time.
            - `label` (`label=<key>`, `label=<key>=<value>`, `label!=<key>`, or `label!=<key>=<value>`) Prune images with (or without, in case `label!=...` is used) the specified labels.
        in: query
        name: filters
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ImageDelete_200_response_inner"
                type: array
          description: Image Delete
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Prune unused images
      tags:
      - images (compat)
      x-accepts:
      - application/json
  /images/search:
    get:
      description: Search registries for an image
      operationId: ImageSearch
      parameters:
      - description: term to search
        in: query
        name: term
        schema:
          type: string
      - description: maximum number of results
        in: query
        name: limit
        schema:
          default: 25
          type: integer
      - description: |
          A JSON encoded value of the filters (a `map[string][]string`) to process on the images list. Available filters:
          - `is-automated=(true|false)`
          - `is-official=(true|false)`
          - `stars=<number>` Matches images that have at least 'number' stars.
        in: query
        name: filters
        schema:
          type: string
      - description: Require HTTPS and verify signatures when contacting registries.
        in: query
        name: tlsVerify
        schema:
          default: true
          type: boolean
      - description: list the available tags in the repository
        in: query
        name: listTags
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageSearch_200_response"
          description: Registry Search
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Bad parameter in request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Search images
      tags:
      - images (compat)
      x-accepts:
      - application/json
  /info:
    get:
      description: Returns information on the system and libpod configuration
      operationId: SystemInfo
      responses:
        "200":
          content: {}
          description: to be determined
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Get info
      tags:
      - system (compat)
      x-accepts:
      - application/json
  /libpod/_ping:
    get:
      description: |
        Return protocol information in response headers.
        `HEAD /libpod/_ping` is also supported.
        `/_ping` is available for compatibility with other engines.
        The '_ping' endpoints are not versioned.
      operationId: SystemPing
      responses:
        "200":
          content:
            text/plain:
              schema:
                description: OK
                example: OK
                type: string
          description: Success
          headers:
            Docker-Experimental:
              description: "If the server is running with experimental mode enabled,\
                \ always true"
              schema:
                type: boolean
            Cache-Control:
              description: always no-cache
              schema:
                type: string
            Libpod-Buildah-Version:
              description: |
                Default version of libpod image builder.
                  Available if service is backed by Podman, therefore may be used to
                  determine if talking to Podman engine or another engine
              schema:
                type: string
            Libpod-API-Version:
              description: |
                Max Podman API Version the server supports.
                Available if service is backed by Podman, therefore may be used to
                determine if talking to Podman engine or another engine
              schema:
                type: string
            BuildKit-Version:
              description: Default version of docker image builder
              schema:
                type: string
            Pragma:
              description: always no-cache
              schema:
                type: string
            API-Version:
              description: Max compatibility API Version the server supports
              schema:
                type: string
        "500":
          content:
            text/plain:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Ping service
      tags:
      - system (compat)
      - system
      x-accepts:
      - text/plain
  /libpod/build:
    post:
      description: Build an image from the given Dockerfile(s)
      operationId: ImageBuildLibpod
      parameters:
      - description: |
          Path within the build context to the `Dockerfile`.
          This is ignored if remote is specified and points to an external `Dockerfile`.
        in: query
        name: dockerfile
        schema:
          default: Dockerfile
          type: string
      - description: "A name and optional tag to apply to the image in the `name:tag`\
          \ format.  If you omit the tag, the default latest value is assumed. You\
          \ can provide several t parameters."
        in: query
        name: t
        schema:
          default: latest
          type: string
      - description: |
          Instead of building for a set of platforms specified using the platform option, inspect the build's base images,
          and build for all of the platforms that are available.  Stages that use *scratch* as a starting point can not be inspected,
          so at least one non-*scratch* stage must be present for detection to work usefully.
        in: query
        name: allplatforms
        schema:
          default: false
          type: boolean
      - description: |
          TBD Extra hosts to add to /etc/hosts
          (As of version 1.xx)
        in: query
        name: extrahosts
        schema:
          type: string
      - description: |
          A Git repository URI or HTTP/HTTPS context URI.
          If the URI points to a single text file, the file’s contents are placed
          into a file called Dockerfile and the image is built from that file. If
          the URI points to a tarball, the file is downloaded by the daemon and the
          contents therein used as the context for the build. If the URI points to a
          tarball and the dockerfile parameter is also specified, there must be a file
          with the corresponding path inside the tarball.
          (As of version 1.xx)
        in: query
        name: remote
        schema:
          type: string
      - description: |
          Suppress verbose build output
        in: query
        name: q
        schema:
          default: false
          type: boolean
      - description: |
          Contents of base images to be modified on ADD or COPY only
          (As of Podman version v5.2)
        in: query
        name: compatvolumes
        schema:
          default: false
          type: boolean
      - description: |
          Do not use the cache when building the image
          (As of version 1.xx)
        in: query
        name: nocache
        schema:
          default: false
          type: boolean
      - description: |
          JSON array of images used to build cache resolution
          (As of version 1.xx)
        in: query
        name: cachefrom
        schema:
          type: string
      - description: |
          Attempt to pull the image even if an older image exists locally
          (As of version 1.xx)
        in: query
        name: pull
        schema:
          default: false
          type: boolean
      - description: |
          Remove intermediate containers after a successful build
          (As of version 1.xx)
        in: query
        name: rm
        schema:
          default: true
          type: boolean
      - description: |
          Always remove intermediate containers, even upon failure
          (As of version 1.xx)
        in: query
        name: forcerm
        schema:
          default: false
          type: boolean
      - description: |
          Memory is the upper limit (in bytes) on how much memory running containers can use
          (As of version 1.xx)
        in: query
        name: memory
        schema:
          type: integer
      - description: |
          MemorySwap limits the amount of memory and swap together
          (As of version 1.xx)
        in: query
        name: memswap
        schema:
          type: integer
      - description: |
          CPUShares (relative weight
          (As of version 1.xx)
        in: query
        name: cpushares
        schema:
          type: integer
      - description: |
          CPUSetCPUs in which to allow execution (0-3, 0,1)
          (As of version 1.xx)
        in: query
        name: cpusetcpus
        schema:
          type: string
      - description: |
          CPUPeriod limits the CPU CFS (Completely Fair Scheduler) period
          (As of version 1.xx)
        in: query
        name: cpuperiod
        schema:
          type: integer
      - description: |
          CPUQuota limits the CPU CFS (Completely Fair Scheduler) quota
          (As of version 1.xx)
        in: query
        name: cpuquota
        schema:
          type: integer
      - description: |
          JSON map of string pairs denoting build-time variables.
          For example, the build argument `Foo` with the value of `bar` would be encoded in JSON as `["Foo":"bar"]`.

          For example, buildargs={"Foo":"bar"}.

          Note(s):
          * This should not be used to pass secrets.
          * The value of buildargs should be URI component encoded before being passed to the API.

          (As of version 1.xx)
        in: query
        name: buildargs
        schema:
          type: string
      - description: |
          ShmSize is the "size" value to use when mounting an shmfs on the container's /dev/shm directory.
          Default is 64MB
          (As of version 1.xx)
        in: query
        name: shmsize
        schema:
          default: 67108864
          type: integer
      - description: |
          Silently ignored.
          Squash the resulting images layers into a single layer
          (As of version 1.xx)
        in: query
        name: squash
        schema:
          default: false
          type: boolean
      - description: |
          JSON map of key, value pairs to set as labels on the new image
          (As of version 1.xx)
        in: query
        name: labels
        schema:
          type: string
      - description: Add an intermediate image *label* (e.g. label=*value*) to the
          intermediate image metadata.
        explode: false
        in: query
        name: layerLabel
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |
          Cache intermediate layers during build.
          (As of version 1.xx)
        in: query
        name: layers
        schema:
          default: true
          type: boolean
      - description: |
          Sets the networking mode for the run commands during build.
          Supported standard values are:
            * `bridge` limited to containers within a single host, port mapping required for external access
            * `host` no isolation between host and containers on this network
            * `none` disable all networking for this container
            * container:<nameOrID> share networking with given container
            ---All other values are assumed to be a custom network's name
          (As of version 1.xx)
        in: query
        name: networkmode
        schema:
          default: bridge
          type: string
      - description: |
          Platform format os[/arch[/variant]]
          (As of version 1.xx)
        in: query
        name: platform
        schema:
          type: string
      - description: |
          Target build stage
          (As of version 1.xx)
        in: query
        name: target
        schema:
          type: string
      - description: |
          output configuration TBD
          (As of version 1.xx)
        in: query
        name: outputs
        schema:
          type: string
      - description: |
          Inject http proxy environment variables into container
          (As of version 2.0.0)
        in: query
        name: httpproxy
        schema:
          type: boolean
      - description: Unset environment variables from the final image.
        explode: false
        in: query
        name: unsetenv
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Unset the image label, causing the label not to be inherited\
          \ from the base image."
        explode: false
        in: query
        name: unsetlabel
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Extra volumes that should be mounted in the build container.
        explode: false
        in: query
        name: volume
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageBuildLibpod_200_response"
          description: OK (As of version 1.xx)
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Bad parameter in request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Create image
      tags:
      - images
      x-accepts:
      - application/json
  /libpod/commit:
    post:
      description: Create a new image from a container
      operationId: ImageCommitLibpod
      parameters:
      - description: the name or ID of a container
        in: query
        name: container
        required: true
        schema:
          type: string
      - description: author of the image
        in: query
        name: author
        schema:
          type: string
      - description: instructions to apply while committing in Dockerfile format (i.e.
          "CMD=/bin/foo")
        explode: false
        in: query
        name: changes
        schema:
          items:
            type: string
          type: array
        style: form
      - description: commit message
        in: query
        name: comment
        schema:
          type: string
      - description: format of the image manifest and metadata (default "oci")
        in: query
        name: format
        schema:
          type: string
      - description: pause the container before committing it
        in: query
        name: pause
        schema:
          type: boolean
      - description: squash the container before committing it
        in: query
        name: squash
        schema:
          type: boolean
      - description: the repository name for the created image
        in: query
        name: repo
        schema:
          type: string
      - description: output from commit process
        in: query
        name: stream
        schema:
          type: boolean
      - description: tag name for the created image
        in: query
        name: tag
        schema:
          type: string
      responses:
        "201":
          content: {}
          description: no error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such image
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Commit
      tags:
      - containers
      x-accepts:
      - application/json
  /libpod/containers/{name}:
    delete:
      description: Delete container
      operationId: ContainerDeleteLibpod
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: additionally remove containers that depend on the container to
          be removed
        in: query
        name: depend
        schema:
          type: boolean
      - description: force stop container if running
        in: query
        name: force
        schema:
          type: boolean
      - description: ignore errors when the container to be removed does not existxo
        in: query
        name: ignore
        schema:
          type: boolean
      - description: number of seconds to wait before killing container when force
          removing
        in: query
        name: timeout
        schema:
          default: 10
          type: integer
      - description: delete volumes
        in: query
        name: v
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/LibpodContainersRmReport"
                type: array
          description: Remove Containers
        "204":
          content: {}
          description: no error
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Bad parameter in request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Conflict error in operation
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Delete container
      tags:
      - containers
      x-accepts:
      - application/json
  /libpod/containers/{name}/archive:
    get:
      description: Copy a tar archive of files from a container
      operationId: ContainerArchiveLibpod
      parameters:
      - description: container name or id
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Path to a directory in the container to extract
        in: query
        name: path
        required: true
        schema:
          type: string
      - description: "JSON encoded map[string]string to translate paths"
        in: query
        name: rename
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: no error
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Bad parameter in request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Copy files from a container
      tags:
      - containers (compat)
      x-accepts:
      - application/json
    put:
      description: Copy a tar archive of files into a container
      operationId: PutContainerArchiveLibpod
      parameters:
      - description: container name or id
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: Path to a directory in the container to extract
        in: query
        name: path
        required: true
        schema:
          type: string
      - description: pause the container while copying (defaults to true)
        in: query
        name: pause
        schema:
          default: true
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              type: string
          application/x-tar:
            schema:
              type: string
        description: tarfile of files to copy into the container
        required: false
      responses:
        "200":
          content: {}
          description: no error
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Bad parameter in request
        "403":
          content: {}
          description: the container rootfs is read-only
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Copy files into a container
      tags:
      - containers
      x-codegen-request-body-name: request
      x-content-type: application/json
      x-accepts:
      - application/json
  /libpod/containers/{name}/attach:
    post:
      description: |
        Attach to a container to read its output or send it input. You can attach
        to the same container multiple times and you can reattach to containers
        that have been detached.

        ### Hijacking

        This endpoint hijacks the HTTP connection to transport `stdin`, `stdout`,
        and `stderr` on the same socket.

        This is the response from the service for an attach request:

        ```
        HTTP/1.1 200 OK
        Content-Type: application/vnd.docker.raw-stream

        [STREAM]
        ```

        After the headers and two new lines, the TCP connection can now be used
        for raw, bidirectional communication between the client and server.

        To inform potential proxies about connection hijacking, the client
        can also optionally send connection upgrade headers.

        For example, the client sends this request to upgrade the connection:

        ```
        POST /v4.6.0/libpod/containers/16253994b7c4/attach?stream=1&stdout=1 HTTP/1.1
        Upgrade: tcp
        Connection: Upgrade
        ```

        The service will respond with a `101 UPGRADED` response, and will
        similarly follow with the raw stream:

        ```
        HTTP/1.1 101 UPGRADED
        Content-Type: application/vnd.docker.raw-stream
        Connection: Upgrade
        Upgrade: tcp

        [STREAM]
        ```

        ### Stream format

        When the TTY setting is disabled for the container,
        the HTTP Content-Type header is set to application/vnd.docker.multiplexed-stream
        (starting with v4.7.0, previously application/vnd.docker.raw-stream was always used)
        and the stream over the hijacked connected is multiplexed to separate out
        `stdout` and `stderr`. The stream consists of a series of frames, each
        containing a header and a payload.

        The header contains the information about the output stream type and the size of
        the payload.
        It is encoded on the first eight bytes like this:

        ```go
        header := [8]byte{STREAM_TYPE, 0, 0, 0, SIZE1, SIZE2, SIZE3, SIZE4}
        ```

        `STREAM_TYPE` can be:

        - 0: `stdin` (is written on `stdout`)
        - 1: `stdout`
        - 2: `stderr`

        `SIZE1, SIZE2, SIZE3, SIZE4` are the four bytes of the `uint32` size
        encoded as big endian.

        Following the header is the payload, which contains the specified number of
        bytes as written in the size.

        The simplest way to implement this protocol is the following:

        1. Read 8 bytes.
        2. Choose `stdout` or `stderr` depending on the first byte.
        3. Extract the frame size from the last four bytes.
        4. Read the extracted size and output it on the correct output.
        5. Goto 1.

        ### Stream format when using a TTY

        When the TTY setting is enabled for the container,
        the stream is not multiplexed. The data exchanged over the hijacked
        connection is simply the raw data from the process PTY and client's
        `stdin`.
      operationId: ContainerAttachLibpod
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: keys to use for detaching from the container
        in: query
        name: detachKeys
        schema:
          type: string
      - description: Stream all logs from the container across the connection. Happens
          before streaming attach (if requested). At least one of logs or stream must
          be set
        in: query
        name: logs
        schema:
          type: boolean
      - description: "Attach to the container. If unset, and logs is set, only the\
          \ container's logs will be sent. At least one of stream or logs must be\
          \ set"
        in: query
        name: stream
        schema:
          default: true
          type: boolean
      - description: Attach to container STDOUT
        in: query
        name: stdout
        schema:
          type: boolean
      - description: Attach to container STDERR
        in: query
        name: stderr
        schema:
          type: boolean
      - description: Attach to container STDIN
        in: query
        name: stdin
        schema:
          type: boolean
      responses:
        "101":
          content: {}
          description: "No error, connection has been hijacked for transporting streams."
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Bad parameter in request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: Attach to a container
      tags:
      - containers
      x-accepts:
      - application/json
  /libpod/containers/{name}/changes:
    get:
      description: |
        Returns which files in a container's filesystem have been added, deleted, or modified. The Kind of modification can be one of:

        0: Modified
        1: Added
        2: Deleted
      operationId: ContainerChangesLibpod
      parameters:
      - description: the name or id of the container
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: specify a second layer which is used to compare against it instead
          of the parent layer
        in: query
        name: parent
        schema:
          type: string
      - description: "select what you want to match, default is all"
        in: query
        name: diffType
        schema:
          enum:
          - all
          - container
          - image
          type: string
      responses:
        "200":
          content: {}
          description: Array of Changes
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
            application/octet-stream:
              schema:
                $ref: "#/components/schemas/ErrorModel"
            text/plain:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: No such container
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
            application/octet-stream:
              schema:
                $ref: "#/components/schemas/ErrorModel"
            text/plain:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: Internal server error
      summary: "Report on changes to container's filesystem; adds, deletes or modifications."
      tags:
      - containers
      - containers (compat)
      x-accepts:
      - application/json
      - application/octet-stream
      - text/plain
  /libpod/containers/{name}/checkpoint:
    post:
      operationId: ContainerCheckpointLibpod
      parameters:
      - description: the name or ID of the container
        in: path
        name: name
        required: true
        schema:
          type: string
      - description: keep all temporary checkpoint files
        in: query
        name: keep
        schema:
          type: boolean
      - description: leave the container running after writing checkpoint to disk
        in: query
        name: leaveRunning
        schema:
          type: boolean
      - description: checkpoint a container with established TCP connections
        in: query
        name: tcpEstablished
        schema:
          type: boolean
      - description: export the checkpoint image to a tar.gz
        in: query
        name: export
        schema:
          type: boolean
      - description: do not include root file-system changes when exporting. can only
          be used with export
        in: query
        name: ignoreRootFS
        schema:
          type: boolean
      - description: do not include associated volumes. can only be used with export
        in: query
        name: ignoreVolumes
        schema:
          type: boolean
      - description: "dump the container's memory information only, leaving the container\
          \ running. only works on runc 1.0-rc or higher"
        in: query
        name: preCheckpoint
        schema:
          type: boolean
      - description: check out the container with previous criu image files in pre-dump.
          only works on runc 1.0-rc or higher
        in: query
        name: withPrevious
        schema:
          type: boolean
      - description: checkpoint a container with filelocks
        in: query
        name: fileLocks
        schema:
          type: boolean
      - description: add checkpoint statistics to the returned CheckpointReport
        in: query
        name: printStats
        schema:
          type: boolean
      responses:
        "200":
          content: {}
          description: tarball is returned in body if exported
        "404":
          content:
[...]
